.home {
	width: calc(100% - 60px);
	margin-left: 60px;
	height: 100%;
	background-color: var(--gray-dark);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow-y: auto;
}


.hidden {
	display: none;
}

.slider {
	width: 800px;
	height: 500px;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	transition: .5s all;
	flex-shrink: 0;
}

.slider>button {
	height: 250px;
	width: 250px;
	position: absolute;
	top: 50%;
	background-color: rgba(0, 0, 0, .03);
	border: 0;
	padding: 30px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	box-sizing: border-box;
}

.slider #prev {
	left: 0;
	transform: translate(-50%, -50%);
}

.slider #next {
	right: 0;
	transform: translate(50%, -50%);
}


.slider .clip {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slider .clip img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

/* content slider */
.slider .clip .content {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 200px;
	height: 150px;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, .4);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.slider .clip .content p {
	color: var(--gold);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0;
	margin: 0;
	font-size: .9rem;
}

.slider .clip .content button {
	border: 0;
	border-bottom: 1px solid transparent;
	background: rgba(0, 0, 0, .5);
	color: var(--gold);
	padding: 10px;
	transition: .5s all;
	border-radius: 10px;
}

.slider .clip .content button:hover {
	background-color: var(--black);
	border-bottom: 1px solid var(--gold);
}

/* counter slider */
.slider .count {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .count .tally {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #222;
	margin: 1px;
}

.slider .count .active-slider {
	background-color: #222;
	animation: scaler .5s linear both;
}





/* animations */
.animation {
	animation: show 1s linear both;
}

.animation-end {
	animation: end 1s linear both;
}

@keyframes show {
	from {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}

	50% {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

@keyframes end {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
	}

	to {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}
}

@keyframes scaler {
	from {
		transform: scale(0);
	}

	33% {
		transform: scale(1.5);
	}

	66% {
		transform: scale(.8);
	}

	to {
		transform: scale(1);
	}
}




/* famouse-coffeehouse */
.famouse-coffeehouse {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.famouse-coffeehouse .coffeehouses {
	width: 100%;
	flex-shrink: 0;
	margin-top: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items {
	width: 200px;
	height: 300px;
	background-color: var(--black);
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	color: var(--gold);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .img-like {
	width: 100%;
	height: 110px;
	position: relative;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .img-like>img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .img-like>.like {
	width: 40px;
	height: 40px;
	position: absolute;
	left: -5px;
	top: -5px;
	background-color: var(--black);
	color: var(--red);
	font-size: 25px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .img-like>.like::before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	left: 0;
	top: 95%;
	border-radius: 5px;
	border-bottom: 5px solid var(--black);
	border-right: 10px solid transparent;
	border-left: 5px solid var(--black);
	border-top: 10px solid transparent;
	transform: rotate(90deg);
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .img-like>.like::after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	left: 93%;
	top: 3px;
	border-radius: 5px;
	border-bottom: 5px solid var(--black);
	border-right: 10px solid transparent;
	border-left: 5px solid var(--black);
	border-top: 10px solid transparent;
	transform: rotate(90deg);
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .content-coffeehouse {
	width: 100%;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .content-coffeehouse .name-coffehouse {
	font-size: 1.1rem;
	border-bottom: 1px solid var(--gold);
}

.famouse-coffeehouse .coffeehouses .coffeehouse-items .content-coffeehouse .description {
	font-size: .9rem;
}










@media only screen and (min-width: 850px) and (max-width: 1000px) {


	.slider {
		width: 600px;
		height: 466px;
	}

	.slider .clip img {
		object-fit: cover;
		object-position: center;
	}
}


@media only screen and (min-width: 650px) and (max-width: 849px) {


	.slider {
		width: 400px;
		height: 433px;
	}

	.slider .clip img {
		object-fit: cover;
		object-position: center;
	}
}

@media only screen and (max-width: 649px) {


	.slider {
		width: 260px;
		height: 400px;
	}

	.slider .clip img {
		object-fit: cover;
		object-position: center;
	}
}